<div class="fade-in flex flex-col h-full">
  <div
    class="shrink-0 mb-4 flex bg-white dark:bg-gray-800 rounded-lg p-1 shadow-sm"
  >
    <button
      id="hub-view-toggle-list"
      class="flex-1 py-2 text-sm font-bold bg-gray-900 dark:bg-yellow-500 dark:text-black text-white rounded"
    >
      Lista
    </button>
    <button
      id="hub-view-toggle-map"
      class="flex-1 py-2 text-sm font-bold text-gray-500 rounded"
    >
      Mapa
    </button>
  </div>

  <div id="jobs-list-view" class="space-y-2 flex-1 overflow-y-auto">
    <div id="jobs-list-container"></div>
  </div>

  <div
    id="jobs-map-view"
    class="hidden flex-1 bg-gray-300 rounded-lg overflow-hidden"
  ></div>
</div>
