<!-- MODAL DE NOTIFICAÇÃO/CONFIRMAÇÃO -->
<div
  id="notification-modal"
  class="absolute inset-0 z-[99] bg-black/80 flex items-center justify-center transition-opacity p-4"
>
  <div
    class="bg-white dark:bg-gray-800 w-full max-w-sm rounded-xl p-6 modal-enter shadow-2xl text-center"
  >
    <h3
      id="notification-title"
      class="text-lg font-bold text-gray-800 dark:text-gray-100 mb-2"
    >
      Título
    </h3>
    <p
      id="notification-message"
      class="text-gray-600 dark:text-gray-400 text-sm mb-6"
    ></p>
    <div id="notification-buttons" class="flex gap-3 justify-center"></div>
  </div>
</div>
