<section id="tela-admin" class="pagina">
  <div class="container">
    <div class="card-header">
      <h2 class="titulo-pagina">Painel do Administrador</h2>
    </div>

    <div class="card">
      <h3>Usuários Cadastrados (<span id="total-usuarios">0</span>)</h3>
      <ul id="lista-usuarios" class="lista-admin"></ul>
    </div>

    <div class="card">
      <h3>Gerenciar Marketplace</h3>
      <button id="btn-add-product">
        <span class="material-icons">add_shopping_cart</span> Adicionar Produto
        de Afiliado
      </button>
    </div>
  </div>
</section>
