<section id="tela-inicio" class="pagina">
  <div class="container">
    <div class="topo-inicio destaque-topo">
      <div>
        <div id="msgOlaInicio">Olá, Usuário</div>
        <div id="metaMensagem" class="meta-mensagem"></div>
      </div>
    </div>

    <div class="resumos-rapidos">
      <div class="card-resumo">
        <span class="material-icons icone-resumo">today</span>
        <div class="resumo-titulo">Hoje</div>
        <div id="resumoHoje" class="resumo-valor">R$ 0,00</div>
      </div>
      <div class="card-resumo">
        <span class="material-icons icone-resumo">calendar_view_week</span>
        <div class="resumo-titulo">Semana</div>
        <div id="resumoSemana" class="resumo-valor">R$ 0,00</div>
      </div>
      <div class="card-resumo">
        <span class="material-icons icone-resumo">calendar_month</span>
        <div class="resumo-titulo">Mês</div>
        <div id="resumoMes" class="resumo-valor">R$ 0,00</div>
      </div>
    </div>
    <div class="graficos-circulares">
      <div class="grafico-circular card">
        <h3>Ganhos Diários</h3>
        <canvas id="graficoDiario" width="120" height="120"></canvas>
        <div id="valorGraficoDiario" class="valor-grafico">R$ 0,00</div>
      </div>
      <div class="grafico-circular card">
        <h3>Ganhos Semanais</h3>
        <canvas id="graficoSemanal" width="120" height="120"></canvas>
        <div id="valorGraficoSemanal" class="valor-grafico">R$ 0,00</div>
      </div>
      <div class="grafico-circular card">
        <h3>Ganhos Mensais</h3>
        <canvas id="graficoMensal" width="120" height="120"></canvas>
        <div id="valorGraficoMensal" class="valor-grafico">R$ 0,00</div>
      </div>
    </div>
    <div class="ferramentas-rapidas">
      <button id="atalhoAdicionarGanho">
        <span class="material-icons">add_circle</span>Adicionar Ganho
      </button>
      <button id="atalhoExportar">
        <span class="material-icons">file_download</span>Exportar Relatório
      </button>
      <button id="atalhoCompartilhar">
        <span class="material-icons">share</span>Compartilhar WhatsApp
      </button>
    </div>
    <div class="indicadores">
      <div class="indicador">
        <span class="material-icons">trending_up</span
        ><span>Média de entregas/dia: <b id="mediaEntregas">0</b></span>
      </div>
      <div class="indicador">
        <span class="material-icons">star</span
        ><span>Melhor dia: <b id="melhorDia">-</b></span>
      </div>
      <div class="indicador">
        <span class="material-icons">flag</span
        ><span>Último Ganho: <b id="ultimaEntrega">-</b></span>
      </div>
    </div>
  </div>
</section>
