<section id="tela-marketplace" class="pagina">
  <div class="container">
    <div class="card-header">
      <h2 class="titulo-pagina">Marketplace</h2>
      <button id="btn-user-add-product" class="btn-add">
        <span class="material-icons">add_circle</span> Anunciar
      </button>
    </div>

    <div class="search-bar-container">
      <input
        type="search"
        id="search-input"
        placeholder="Estou buscando por..."
      />
      <span class="material-icons">search</span>
    </div>

    <div class="category-filters">
      <button class="category-btn active" data-category="todos">Todos</button>
      <button class="category-btn" data-category="acessorios-moto">
        Acessórios
      </button>
      <button class="category-btn" data-category="equipamentos-seguranca">
        Segurança
      </button>
      <button class="category-btn" data-category="eletronicos">
        Eletrônicos
      </button>
      <button class="category-btn" data-category="vestuario">Vestuário</button>
      <button class="category-btn" data-category="servicos">Serviços</button>
      <button class="category-btn" data-category="outros">Outros</button>
    </div>

    <div id="slider-container" class="slider-container" style="display: none">
      <h3>Últimos Anúncios</h3>
      <div id="product-slider" class="product-slider"></div>
    </div>

    <div id="product-list" class="product-grid"></div>
  </div>
</section>
