body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

/* Estilo para o ícone do motoboy no mapa */
.motoboy-marker-icon {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 2px;
}

#company-modal-container > div {
  z-index: 500; /* Garante que o modal fique acima do mapa (que tem z-index ~400) */
}
#company-modal-container .modal-content {
  max-width: 600px; /* Limita a largura máxima do modal */
}
